.Input {
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  // background: #2b303b;
  // border-radius: 16px;
  padding-left: 8px;
  padding-right: 8px;

  & input {
    width: 100%;
    border: none;
    font-size: 1rem;
    float: left;
    color: #fff;
    background: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid #2b303b;
    &:focus {
      outline: none;
    }
  }
}
