{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins" : [
    ["babel-plugin-module-resolver", {
      "root": ["./src"],
      "alias": {
        "utils": "./src/app/utils",
        "components": "./src/app/components",
        "containers": "./src/app/containers",
        "hooks": "./src/app/hooks"
      }
    }]
  ]
}