.SearchBox {
  display: flex;
  flex-direction: column;
  padding: 8px;

  width: 300px;
  
  background: #343d46;
  border: 1px solid #efefef;
  border-radius: 16px;

  &__input {
    margin-bottom: 16px;
  }
}

.SearchItemList 
{
  background: #2b303b;
  border-radius: 16px;
  padding: 8px;
}